<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

    <!-- Spring管理Struts2的Action -->
    <bean name="userAction" class="com.utm.user.action.UserAction" scope="prototype">
        <!-- <property name="userService" ref="userService"></property> -->
    </bean>

    <bean name="userService" class="com.utm.user.service.impl.UserServiceImpl" >
        <!-- <property name="userDao" ref="userDao"></property> -->
    </bean>

    <bean name="userDao" class="com.utm.user.dao.impl.UserDaoImpHibernate">
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    </bean>

</beans>
